<div class="text-center">
  <h1 class="font-effect-fire-animation">Soresu</h1>
  <h3 id= "secondText">Jedi Lightsaber Fighting Forms</h3>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Shii-Cho</h3>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/WRdZGl8CrTk">
    </iframe>
    <p>The Way of the Sarlacc</p>
  </div>
  <div class="col-md-4">
    <h3>Makashi</h3>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/53x6LE5yJXc">
    </iframe>
    <p>The Way of the Ysalamiri</p>
  </div>
  <div class="col-md-4">
    <h3>Soresu</h3>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/pB2qTBEnCXg">
    </iframe>
    <p>The Way of the Mynock</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Ataru</h3>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/FvvBMAUDHRo">
    </iframe>
    <p>The Way of the Hawk-Bat</p>
  </div>
  <div class="col-md-4">
    <h3>Shien</h3>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/Aroo9qxQqjc">
    </iframe>
    <p>The Way of the Krayt Dragon</p>
  </div>
  <div class="col-md-4">
    <h3>Niman</h3>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/VUSeuFRpX4o">
    </iframe>
    <p>The Way of the Rancor</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <h3>Juyo</h3>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/dsnc1Mf5GBM">
    </iframe>
    <p>The Way of the Vornskr</p>
  </div>
  <div class="col-md-4">
    <h3>Jar'Kai</h3>
    <iframe width="420" height="345" src="https://www.youtube.com/embed/ecF2X9gEhzY">
    </iframe>
    <p>The Use of Duel Blades</p>
  </div>
</div>
